.news-hero {
  height: 475px;
  padding-bottom: 20px;
}

.article{
    padding-top: 20px;
}

.happening-now {
  background-color: var(--color-text-primary);
}

.happening-now .section-content p,
.happening-now .section-content h2,
.happening-now .section-content h3 {
  color: var(--color-navbar-bg);
}

.happening-now-container {
  display: flex;
  gap: 24px;
}

.happening-now-image {
  width: 40%;
  background-size: cover;
  background-position: center;
  flex-shrink: 0;
}

.happening-now-content {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.releases-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
