.board-game-card {
  cursor: pointer;
  position: relative;
  width: 400px;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.card-face {
  display: flex;
  flex-direction: column;
  background-color: var(--color-item-bg);
  flex-grow: 1;
}

.card-description {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  background-color: var(--color-navbar-bg);
  padding: 32px;
  opacity: 95%;
  cursor: pointer;
}

.card-content {
  display: flex;
  flex-direction: column;
  padding: 20px 20px;
  flex-grow: 1;
  gap: 40px;
}

.tags-container {
  display: flex;
  flex-wrap: wrap-reverse;
  align-self: end;
  justify-content: end;
  width: 80%;
  gap: 12px;
  margin-top: auto;
}

.board-game-card .label {
  background-color: var(--color-accent);
}
