/* Hero component styles */
.hero {
  position: relative;
  align-items: flex-start;
  justify-content: flex-end;
  width: 100%;
  background-size: cover;
  background-position: center;
  margin: 0 auto;
}

.border {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 4px;
  background-color: var(--color-divider);
}